.App {
  background-color: rgb(252, 238, 221);
}
.Profile {
  display: flex;
  align-content: space-around;
  margin-top: 3%;
}
.Informations {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}
